:root {
  --labelColor: transform;
  --labelWidth: 80px;
  --labelHeight: 80px;
  --one-line: 6;
  --label-width: 80px;
  --label-margin: 20px;
  --label-height: 80px;
  --searchbar-background-alpha: 0.1;
}

.main-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.label-list {
  display: grid;
  grid-template-columns: repeat(var(--one-line), 1fr);
  width: calc(
    var(--one-line) * (var(--label-width) + 2 * var(--label-margin))
  ) !important;

  li {
    margin: 20px;
    display: inline-block;
    height: var(--label-height);
    width: var(--label-width);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    &:-moz-drag-over {
      border: 1px solid black;
    }

    &.label {
      --animate-duration: 0.8s;
      background-color: var(--labelColor);
    }

    div {
      width: 20px;
      height: 20px;
      background-color: transparent;
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      z-index: 1;
    }
    .delete-icon {
      background-image: url(../images/delete.png);
      top: -10px;
      left: -10px;
    }

    .edit-icon {
      background-image: url(../images/edit.png);
      bottom: 0;
      opacity: 0.5;
    }

    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
    &:hover {
      transform: translateY(-5px);
    }
  }
}

.add-button-wrapper {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  .add-button {
    width: 36px;
    height: 36px;
    background-image: url('../images/add.svg');
    background-size: contain;
    background-repeat: no-repeat;
    transition: opacity 0.5s linear;
  }
}

.edit-window {
  --animate-duration: 0.5s;
  position: fixed;
  border-radius: 8px;
  transform: translateX(-2000px);
  left: 0;
  top: 18%;
  background-color: rgba(255, 255, 204, 0.2);
  > label {
    display: block;
  }

  input {
    width: 300px;
    height: 50px;
    border-radius: 10px;
    margin-bottom: 8px;
    display: block;
    caret-color: #1e90ff;
    padding: 0 10px;
    font-size: 18px;
    border: 0;
    color: #fff;
    caret-color: #ccffcc;
    &::placeholder {
      color: #666;
    }
  }

  .edit-button-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    > button {
      width: 100%;
      height: 100px;
      font-size: 18px;
      font-weight: bold;

      &.cancelBtn {
        color: #ddd;
      }
      &.confirmBtn,
      &.changeBtn {
        color: #ffccff;
      }
    }
  }
}

.search-frame {
  height: 2.5em;
  width: 100%;
  max-width: 30em;
  min-width: 10em;
  padding: 0 3em 0 1em;
  border-radius: 10px;
  color: #fff;
  font-size: 1.3em;
  background-color: rgba(255, 255, 255, var(--searchbar-background-alpha));
  border: 1px solid rgba(255, 255, 255, 0.075);
  backdrop-filter: blur(10px);
}

.bg-pic {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 0;
  background-image: url('https://api.cyrilstudio.top/bing/image.php');
  background-position: center;
}

.bg-pic > .blur {
  width: 100%;
  height: 100%;
  /* 调整模糊程度 */
  backdrop-filter: blur(10px);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.content-wrapper {
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 1;
}

.search-frame-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

/* utils class */
.text-no-select {
  user-select: none;
}

.position-relative {
  position: relative;
}

.position-fixed {
  position: fixed;
}

.position-absolute {
  position: absolute;
}

.float-left {
  float: left;
}

.placeholder {
  visibility: hidden;
}
